<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cantidad</th>
                    <th>Logo</th>
                    <th>Nombre Marca</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Marca of marcas">
                    <td>{{Marca._id}}</td>
                    <td>{{Marca.cantidad}}</td>
                    <td><img [src]="Marca.logo" alt="Logo de {{Marca.nom_marca}}" style="max-width: 180px;"></td>
                    <td>{{Marca.nom_marca}}</td>
                    <td>
                        <div styleshet="display: inline-block;">
                            <span>
                                <a [routerLink]="['/EliminarMarca', Marca._id]">
                                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="pl-8">
                                <a [routerLink]="['/EditarMarca', Marca._id]">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
