<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Apellido Materno</th>
                    <th>Apellido Paterno</th>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Salario</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados">
                    <td>{{empleado._id}}</td>
                    <td>{{empleado.ApellidoM}}</td>
                    <td>{{empleado.ApellidoP}}</td>
                    <td>{{empleado.Nombre}}</td>
                    <td>{{empleado.Cargo}}</td>
                    <td>{{empleado.Salario}}</td>
                    <td>
                        <div style="display: inline-block;">
                            <span>
                                <a [routerLink]="['/EliminarEmpleado', empleado._id]">
                                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="pl-8">
                                <a [routerLink]="['/EditarEmpleado', empleado._id]">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
