<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Optica Devlin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Productos
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="ProductosCatalogo" routerLinkActive="active">Catálogo</a></li>
                      <li><a class="dropdown-item" routerLink="NuevoProducto" routerLinkActive="active">Nuevo Producto</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Proveedores
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" routerLink="ProveedorCatalogo" routerLinkActive="active">Catálogo</a></li>
                      <li><a class="dropdown-item" href="#" routerLink="NuevoProveedor" routerLinkActive="active">Nuevo Proveedor</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Marcas
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" routerLink="MarcasCatalogo" routerLinkActive="active">Catálogo</a></li>
                      <li><a class="dropdown-item" href="#" routerLink="NuevaMarca" routerLinkActive="active">Nuevo Marca</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Empleados
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" routerLink="EmpleadosCatalogo" routerLinkActive="active">Catálogo</a></li>
                      <li><a class="dropdown-item" href="#" routerLink="NuevoEmpleado" routerLinkActive="active">Nuevo Empleado</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Usuarios
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" routerLink="UsuariosCatalogo" routerLinkActive="active">Catálogo</a></li>
                      <li><a class="dropdown-item" href="#" routerLink="NuevoUsuario" routerLinkActive="active">Nuevo Usuario</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Clientes
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" routerLink="ClienteCatalogo" routerLinkActive="active">Catálogo</a></li>
                      <!-- <li><a class="dropdown-item" href="#" routerLink="NuevoCliente" routerLinkActive="active">Nuevo Cliente</a></li> -->
                  </ul>
              </li>
              <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Departamentos
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" routerLink="depaCatalogo" routerLinkActive="active">Catálogo</a></li>
                      <li><a class="dropdown-item" href="#" routerLink="depaNuevo" routerLinkActive="active">Nuevo Departamento</a></li>
                  </ul>
              </li> -->
          </ul>
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
      </div>
  </div>
</nav>


