<!-- <form>
    <div>
      <label for="nombre">Nombre:</label>
      <br>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoCliente.Nombre" required>
    </div>
    <div>
      <label for="Direccion">Direccion:</label>
      <br>
      <input type="text" id="Direccion" name="Direccion" [(ngModel)]="nuevoCliente.Direccion" required>
    </div>
    <div>
        <label for="Telefono">Telefono:</label>
        <br>
        <input type="text" id="Telefono" name="Telefono" [(ngModel)]="nuevoCliente.Telefono" required>
    </div>
    <br>    <br>
    <button type="button" class="me-2 btn btn-outline-dark" (click)="agrClientes()">Agregar Cliente</button>
  </form> -->